/*===========================================*/
/*	DESKTOP LAYOUT 
/*===========================================*/


@media (min-width: 1200px) {
	

}
@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 992px) {
    .feature-section-3 .about-me-figure-col .figure-box figure {
        width: 80%;
        margin-top: 0;
    }
    .feature-section-3 .about-me-figure-col .figure-box figcaption ul li{
        padding-left: 30px;
    }
}

/*===========================================*/
/*	MOBILE & TABLET COMMON
/*===========================================*/
@media (min-width: 200px) and (max-width: 991px) {
	.feature-section-3 .about-me-figure-col .figure-box figure {
        width: 50%;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 40px auto auto auto;
    }
    .feature-section-3 .about-me-figure-col .figure-box figcaption ul li{
        padding-left: 20px;
    }
}


/*===========================================*/
/*	TABLET
/*===========================================*/
@media (min-width: 768px) and (max-width: 991px) {

}


/*===========================================*/
/*	MOBILE
/*===========================================*/
@media (min-width: 200px) and (max-width: 767px) {
	
}
@media (min-width: 600px) and (max-width: 767px) {
}
@media (min-width: 480px) and (max-width: 599px) {

}
@media (min-width: 200px) and (max-width: 479px) {

}